.profile-starts-con{
    min-height: 300px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 20px;
    /* setting the background */
    background:linear-gradient(195deg, rgba(73, 163, 241,0.1) 0%, rgba(26, 115, 232 ,0.1) 100%),url('../../Assets/profileview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.profile-info-div-outer{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 25px;
}
.profile-info-div{
    min-height: 200px;
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
}

.profile-info-div-img{
    width: 115px;
    height: 115px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info-div-img>p{
    font-size: 2.2rem;
    text-transform: uppercase;
}

.profile-info-div-details{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;

}



.profile-info-div-details-email{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 10px;
}

/* .profile-info-div-details-name{
    margin-top: 20px;
} */

.profile-info-div-details-name>h1{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
}
.profile-info-div-details-name>p{
    font-size: 0.9rem;
    color: gray;
    text-transform: capitalize;
    font-weight: 500;
}
.profile-info-div-details-email>p{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
.profile-info-div-details-email>p span{
    font-size: 1.05rem;
    font-weight: 500;
}

/* profile-show-passwords-btn */
.profile-show-passwords-btn{
    margin-top: 8px;
    margin-bottom: 5px;
    width: fit-content;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    
}
.profile-show-passwords-btn p{
    color: #0084ff;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: underline;
    width: fit-content;
}
/* edit-mobile-number-div-buttons */
.edit-mobile-number-div-buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.edit-mobile-number-div-buttons>input{
    outline: none;
    height: 35px;
    border: 1px solid rgb(189, 189, 189);
    margin-top: 3px;
    padding-left: 5px;
    border-radius: 4px;
}
.edit-mobile-number-div-buttons>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

}
.edit-mobile-number-div-buttons>div button{
    border: none;
    height: 30px;
    font-size: 0.9rem;
    font-weight: 500;
    padding:7px 14px;
    border-radius: 4px;
}
.edit-mobile-number-div-buttons>div button:nth-child(1){
    background-color: rgb(240, 240, 240);
    color: red;
}
.edit-mobile-number-div-buttons>div button:nth-child(2){
    background-color: rgb(240, 240, 240);
    color: green;
}

@media screen and (max-width:754.1234px){

    .profile-info-div-img{
        width: 70px;
        height: 70px;
    }
    .profile-info-div-details-email{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
}

@media screen and (max-width:510px){
    .profile-info-div-img{
        display: none;
    }
    .profile-show-passwords-btn{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width:484.1234px){
    .profile-starts-con{
        min-height: 170px;
        margin-left: 5px;
        margin-right: 5px;

    }
    .profile-info-div-details-email>p span{
        font-size: 0.9rem;
    }
    .profile-info-div-outer{
        margin-left: 10px;
        margin-right: 10px;
    }
    .profile-info-div-img{
        display: none;
    }
    .profile-info-div{
        padding-left: 2px;
        overflow-x: scroll;
    }
}

/* spares table */
.profile-spares-div{
    margin-top: 15px;
    width: 100%;
    min-height: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    padding: 20px;
    overflow: auto;
}

.profile-spares-header{
    padding-top: 25px;
    margin-left: 25px;
    
}

.profile-spares-header>h1{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: underline;
}

/* profile table */
.profile-table{
    border: 1px solid #dededf;
    border-bottom: none;
    width: 100%;
    /* height: 100%; */
    margin: auto;
    margin-top: 25px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
    
    
   
}
.profile-table tr>th{
    display:table-cell;
    height: 35px;
    text-align: center;
    border-bottom: 1px solid #dededf;
    padding: 5px;
}
.profile-table td{
    display: table-cell;
    min-width: 150px;
    padding: 5px 10px;
    border-bottom: 1px solid #dededf;
    text-align: center;
}

/* spare-add-item-btn */
.spare-add-item-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap:10px;
}
.spare-add-item-btn>p{
    padding: 7px 12px;
    background-color: rgb(0, 0, 211);
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
}
.spare-add-item-btn>p:hover{
    background-color: rgb(0, 0, 245);
}

/* profile-spare-form */
.each-form-header-spare-machine{
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
}
.each-form-header-spare-machine>h1{
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 15px;
    padding-top: 10px;
}
.profile-spare-form{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    /* margin-top: 5px; */
    border-radius: 15px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    padding: 15px;
    width: 100%;
    gap: 10px;
}
.profile-spare-form>div{
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
}
.profile-spare-form>div label{
    font-size: 0.9rem;
    text-transform: capitalize;
}
.profile-spare-form>div input{
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #dededf;
    outline: none;

}

/* spares-and-machines-show-more-btn */
.spares-and-machines-show-more-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.spares-and-machines-show-more-btn>p{
    color: gray;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}