.profile-starts-con{
    min-height: 300px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 20px;
    /* setting the background */
    background:linear-gradient(195deg, rgba(73, 163, 241,0.1) 0%, rgba(26, 115, 232 ,0.1) 100%),url('../../Assets/profileview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.profile-info-div-outer{
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
}
.profile-info-div{
    min-height: 200px;
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
    position: absolute;
    top: -50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 30px;
}

.profile-info-div-img{
    width: 115px;
    height: 115px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info-div-img>p{
    font-size: 2.2rem;
    text-transform: uppercase;
}

.profile-info-div-details{
    display: flex;
    flex-direction: column;
}



.profile-info-div-details-email{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 10px;
}

.profile-info-div-details-name>h1{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 600;
}
.profile-info-div-details-name>p{
    font-size: 0.9rem;
    color: gray;
    text-transform: capitalize;
    font-weight: 500;
}
.profile-info-div-details-email>p span{
    font-size: 1.05rem;
    font-weight: 500;
}

/* profile-show-passwords-btn */
.profile-show-passwords-btn{
    margin-top: 8px;
    margin-bottom: 5px;
    
}
.profile-show-passwords-btn p{
    color: rgb(0, 132, 255);
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: underline;
}

@media screen and (max-width:754.1234px){

    .profile-info-div-img{
        width: 70px;
        height: 70px;
    }
    .profile-info-div-details-email{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
}

@media screen and (max-width:484.1234px){
    .profile-info-div-img{
        display: none;
    }
    .profile-info-div{
        padding-left: 2px;
    }
}