.createcustomer-inner-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.createcustomer-inner-spl-div{
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
